﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><strong>Контакты</strong></p>
<p>
    <strong>Телефон:</strong> 111111
</p>

<p>
    <strong>Адрес:</strong> Улица AAA, Дом XXX
</p>