﻿@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><strong>Оплата</strong></p>
<p>
    Мы позаботились о том, чтобы оплата покупки была доступна в той форме, которую предпочитаете лично вы.
    Независимо от выбранной формы оплаты, расчет производится только в белорусских рублях.
</p>

<p>
    <strong>
        Наличный расчет
    </strong>
</p>
<p>
    — Вы можете оплатить покупку при доставке, рассчитываясь с курьером наличными деньгами.
    — Если вы осуществляете самовывоз, оплату необходимо будет совершить в кассе пункта выдачи товара.
</p>

<p><strong>Оплата банковской картой через терминал</strong></p>
<p>
    — Оплата курьеру при доставке. Сообщите выбранный способ оплаты во время заказа, и курьер приедет к вам с терминалом.
    — Также возможна оплата через терминал в пункте самовывоза.
</p>

        <p><strong>Оплата картой рассрочки "Халва" от МТБанка – рассрочка 2 месяца</strong></p>
        <p>
    Оплата производится через терминал при доставке курьером или в пункте самовывоза. При заказе необходимо предупредить оператора или отметить в онлайн-заказе, что оплата будет производиться картой.
    Возможность оплаты картой "Халва" не распространятся на товары со скидками, супер-ценами и прочие акционные предложения.
</p>
