﻿@model MyShop.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Параметры доставки</h2>
Укажите параметры доставки товара.
<div class="form-addr">
    @using (Ajax.BeginForm("Checkout", "Cart",
    new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "target"
    })){
        <h3>Кому:</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <h3>Куда:</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Line1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Line1)
            @Html.ValidationMessageFor(model => model.Line1)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zip)
            @Html.ValidationMessageFor(model => model.Zip)
        </div>
        <p align="center">
            <input class="actionButtons" type="submit" value="Оформить заказ" />
        </p>
    }
    <div id="target"></div>
</div>