﻿@model MyShop.Domain.Entities.ShoppingCart

<div id="cart">
    <span class="caption">
        @Model.Lines.Sum(x => x.Quantity) шт.,
        @Model.ComputeTotalValue().ToString("c")
    </span>

    @Html.ActionLink("Перейти", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, null)
</div>