﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div id="block-body">
        <div id="block-header">
            <div id="menu">
                <ul>
                    <li>@Html.ActionLink("Главная", "List", "Products")</li>
                    <li>@Html.ActionLink("Каталог", "List", "Products")</li>
                    <li>@Html.ActionLink("Оплата", "Payment", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    <li>@{Html.RenderAction("Summary", "Cart");}</li>
                </ul>

            </div>
        </div>

        <div id="block-right">
            <div id="block-category">
                <p class="header-title">Категории товаров</p>
                @{ Html.RenderAction("Menu", "Navigation"); }
                <!--
                    <ul>
                        <li>
                            <a><img src="images/phone.png" id="phone-img" />Мобильные телефоны</a>
                            <ul class="category-section">
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Lenovo</a></li>
                                <li><a href="">Sony</a></li>
                                <li><a href="">Huawei</a></li>
                                <li><a href=""><strong>Все модели</strong></a></li>

                            </ul>
                        </li>

                        <li>
                            <a><img src="images/notebook.png" id="notebook-img" />Ноутбуки</a>
                            <ul class="category-section">
                                <li><a
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Lenovo</a></li>
                                <li><a href=""><strong>Все модели</strong></a></li>
                            </ul>
                        </li>

                        <li>
                            <a><img src="images/monoblock.png" id="monoblock-img" />Моноблоки</a>
                            <ul class="category-section">
                                <li><a href="">Samsung</a></li>
                                <li><a href="">Lenovo</a></li>
                                <li><a href=""><strong>Все модели</strong></a></li>
                            </ul>
                        </li>
                    </ul>
                    -->
            </div>
            
        </div>
        <div id="block-content">
            @RenderBody()
        </div>
        <div id="block-footer">
            
        </div>
    </div>
</body>
</html>

