﻿@model MyShop.Domain.Entities.Product

@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Name</h1>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.EditorForModel()
    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImagePath == null)
        {
            @:None
        }
        else
        {
            <img src="@Model.ImagePath" />
        }
        <div>
            Загрузить иображение:
            <input type="file" name="fileUpload" />
        </div>
    </div>
    
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отмена", "Index")
}
