@model MyShop.WebUI.Models.ProductsAdminViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Продукты</h2>
<div id="productCategories">
    <ul>
        <li>
            @Ajax.ActionLink("Все товары", "Index", "Admin",
            new AjaxOptions
            {
                UpdateTargetId = "ProductList", // <-- DOM element ID to update
            })
        </li>
        @foreach (var category in Model.Categories)
        {
            <li>
                @Ajax.ActionLink(category.Name, "Index", "Admin",
                new
                {
                    category = category.Name
                },
                new AjaxOptions
                {
                    UpdateTargetId = "ProductList"
                })
            </li>
        }
    </ul>
</div>
    <p>
        @Html.ActionLink("Добавить товар", "Create")
    </p>


    <div id="ProductList">
        @{Html.RenderPartial("_Products", Model);};
    </div>
