@model MyShop.WebUI.Models.ProductsListViewModel

<ul id="block-tovar-list">
    @foreach (var p in Model.Products)
    {
        <li>
            @{ Html.RenderPartial("ProductShort", p); }
        </li>
    }
</ul>
