@using MyShop.WebUI.Helpers
@model MyShop.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
<p>Всего найдено товаров:  @Model.PageNavigation.TotalItems</p>
<div id="productsList">
    @{Html.RenderPartial("_ProductsList", Model);};
</div>


<div class="pager">
    @Ajax.PageLinks(Model.PageNavigation, Model.CurrentCategory)
</div>
