﻿@model MyShop.Domain.Entities.Product

@{
    ViewBag.Title = @Model.Name;
}
@if (Model.ImagePath != null)
{
    <div style="float: left; margin-right: 20px; width: 150px; text-align: center;">
        <img src="@Model.ImagePath" style="max-width: 140px; "/>
    </div>
}
 
<h2>
    <a href="@Model.Id">@Model.Name</a>
</h2>
@using (Html.BeginForm("AddToCart", "Cart"))
{
    @Html.HiddenFor(x => x.Id)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input class="add-cart-style-list" type="submit" value="+ Добавить в корзину" />
}
<p class="style-price-list">@Model.Price.ToString()</p>
<div class="short-features">
    <p>@Model.Description</p>
</div>

<table width="90%" align="center" class="product-info">
    <thead>
        <tr>
            <th scope="col">Параметр</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td scope="row">Производитель</td>
                <td align="left">
                    @if (@Model.BrandName != null)
                    {
                        @Model.BrandName

                    }
                    else
                    {
                        Write("Нет информации");
                    }
                </td>  
            </tr>
            <tr>
                <td scope="row">Операционная система</td>
                <td align="left">
                    @if (@Model.OS != null)
                    {
                        @Model.OS

                    }
                    else
                    {
                        Write("Нет информации");
                    }
                </td>
            </tr>
            <tr>
                <td scope="row">Разрешение экрана</td>
                <td align="left">
                    @if (@Model.DisplayResolution != null)
                    {
                        @Model.DisplayResolution

                    }
                    else
                    {
                        Write("Нет информации");
                    }
                </td>
            </tr>
            <tr>
                <td scope="row">Диагональ экрана</td>
                <td align="left">
                    @if (@Model.DisplayRatio != null)
                    {
                        @Model.DisplayRatio

                    }
                    else
                    {
                        Write("Нет информации");
                    }
                </td>
            </tr>
            <tr>
                <td scope="row">Вес</td>
                <td align="left">
                    @if (@Model.Weight != null)
                    {
                        @Model.Weight

                    }
                    else
                    {
                        Write("Нет информации");
                    }
                </td>
            </tr>
            <tr>
                <td scope="row">Тип сенсора</td>
                <td align="left">
                    @if (@Model.TouchScreenType != null)
                    {
                        @Model.TouchScreenType

                    }
                    else
                    {
                        Write("Нет информации");
                    }
                </td>
            </tr>
    </tbody>
</table>